
[submodule "lib/mapbox"]
	path = lib/mapbox
	url = git://github.com/mapbox/mapbox-ios-sdk.git
[submodule "lib/MagicalRecord"]
	path = lib/MagicalRecord
	url = git://github.com/magicalpanda/MagicalRecord.git
[submodule "lib/AFNetworking"]
	path = lib/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "lib/MBProgressHUD"]
	path = lib/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
