[submodule "lib/osm-parser"]
	path = lib/osm-parser
	url = git@github.com:davidchiles/osm-parser.git
[submodule "lib/ActionSheetPicker"]
	path = lib/ActionSheetPicker
	url = git@github.com:davidchiles/ActionSheetPicker.git