<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>microbrewery</key>
	<dict>
		<key>name</key>
		<string>Microbrewery</string>
		<key>osmKey</key>
		<string>microbrewery</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
		</dict>
	</dict>
	<key>cuisine</key>
	<dict>
		<key>name</key>
		<string>Cuisine</string>
		<key>osmKey</key>
		<string>cuisine</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Regional</key>
			<string>regional</string>
			<key>Burger</key>
			<string>burger</string>
			<key>Pizza</key>
			<string>pizza</string>
			<key>Italian</key>
			<string>italian</string>
			<key>Chinese</key>
			<string>chinese</string>
			<key>German</key>
			<string>german</string>
			<key>Kebab</key>
			<string>kebab</string>
			<key>Sandwich</key>
			<string>sandwich</string>
			<key>Indian</key>
			<string>indian</string>
			<key>Greek</key>
			<string>greek</string>
			<key>Asian</key>
			<string>asian</string>
			<key>Mexican</key>
			<string>mexican</string>
			<key>Ice Cream</key>
			<string>ice_cream</string>
			<key>French</key>
			<string>French</string>
			<key>Thai</key>
			<string>thai</string>
			<key>Fish and Chips</key>
			<string>fish_and_chips</string>
			<key>Japanese</key>
			<string>japanese</string>
			<key>Spanish</key>
			<string>spanish</string>
			<key>Steak House</key>
			<string>steak_house</string>
			<key>Seafood</key>
			<string>seafood</string>
			<key>Korean</key>
			<string>korean</string>
			<key>Vietnamese</key>
			<string>vietnamese</string>
			<key>Barbecue</key>
			<string>barbecue</string>
			<key>Lebanese</key>
			<string>lebanese</string>
		</dict>
	</dict>
	<key>drive_in</key>
	<dict>
		<key>name</key>
		<string>Drive In</string>
		<key>osmKey</key>
		<string>drive_in</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
		</dict>
	</dict>
	<key>smoking</key>
	<dict>
		<key>name</key>
		<string>Smoking</string>
		<key>osmKey</key>
		<string>smoking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
			<key>Separated</key>
			<string>separated</string>
		</dict>
	</dict>
	<key>addr:housenumber</key>
	<dict>
		<key>name</key>
		<string>Number</string>
		<key>osmKey</key>
		<string>addr:housenumber</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:street</key>
	<dict>
		<key>name</key>
		<string>Street</string>
		<key>osmKey</key>
		<string>addr:street</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:postcode</key>
	<dict>
		<key>name</key>
		<string>Post Code</string>
		<key>osmKey</key>
		<string>addr:postcode</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:city</key>
	<dict>
		<key>name</key>
		<string>City</string>
		<key>osmKey</key>
		<string>addr:city</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:state</key>
	<dict>
		<key>name</key>
		<string>State</string>
		<key>osmKey</key>
		<string>addr:state</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:province</key>
	<dict>
		<key>name</key>
		<string>Province</string>
		<key>osmKey</key>
		<string>addr:province</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>addr:country</key>
	<dict>
		<key>name</key>
		<string>Country</string>
		<key>osmKey</key>
		<string>addr:country</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
	</dict>
</dict>
</plist>
