<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>microbrewery</key>
	<dict>
		<key>name</key>
		<string>Microbrewery</string>
		<key>osmKey</key>
		<string>microbrewery</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>capacity</key>
	<dict>
		<key>name</key>
		<string>Capacity</string>
		<key>osmKey</key>
		<string>capacity</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>number</string>
	</dict>
	<key>cuisine</key>
	<dict>
		<key>name</key>
		<string>Cuisine</string>
		<key>osmKey</key>
		<string>cuisine</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Regional</key>
			<string>regional</string>
			<key>Burger</key>
			<string>burger</string>
			<key>Pizza</key>
			<string>pizza</string>
			<key>Italian</key>
			<string>italian</string>
			<key>Chinese</key>
			<string>chinese</string>
			<key>German</key>
			<string>german</string>
			<key>Kebab</key>
			<string>kebab</string>
			<key>Sandwich</key>
			<string>sandwich</string>
			<key>Indian</key>
			<string>indian</string>
			<key>Greek</key>
			<string>greek</string>
			<key>Asian</key>
			<string>asian</string>
			<key>Mexican</key>
			<string>mexican</string>
			<key>Ice Cream</key>
			<string>ice_cream</string>
			<key>French</key>
			<string>french</string>
			<key>Thai</key>
			<string>thai</string>
			<key>Fish and Chips</key>
			<string>fish_and_chips</string>
			<key>Japanese</key>
			<string>japanese</string>
			<key>Spanish</key>
			<string>spanish</string>
			<key>Steak House</key>
			<string>steak_house</string>
			<key>Seafood</key>
			<string>seafood</string>
			<key>Korean</key>
			<string>korean</string>
			<key>Vietnamese</key>
			<string>vietnamese</string>
			<key>Barbecue</key>
			<string>barbecue</string>
			<key>Lebanese</key>
			<string>lebanese</string>
			<key>Persian</key>
			<string>persian</string>
			<key>Mediterranean</key>
			<string>mediterranean</string>
			<key>Ethiopian</key>
			<string>ethiopian</string>
		</dict>
	</dict>
	<key>bicycle_parking</key>
	<dict>
		<key>name</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>bicycle_parking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Shed</key>
			<string>shed</string>
			<key>Building</key>
			<string>building</string>
			<key>Lockers</key>
			<string>lockers</string>
			<key>Stands</key>
			<string>stands</string>
			<key>Wall Loops</key>
			<string>wall_loops</string>
			<key>Informal</key>
			<string>informal</string>
			<key>Lebanese</key>
			<string>lebanese</string>
		</dict>
	</dict>
	<key>information</key>
	<dict>
		<key>name</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>information</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Office</key>
			<string>office</string>
			<key>Audio Guide</key>
			<string>audioguide</string>
			<key>Guidepost</key>
			<string>guidepost</string>
			<key>Map</key>
			<string>map</string>
			<key>Tactile Map</key>
			<string>tactile_map</string>
			<key>Tactile Model</key>
			<string>tactilve_model</string>
			<key>Board</key>
			<string>board</string>
		</dict>
	</dict>
	<key>drive_in</key>
	<dict>
		<key>name</key>
		<string>Drive In</string>
		<key>osmKey</key>
		<string>drive_in</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>drive_through</key>
	<dict>
		<key>name</key>
		<string>Drive-through</string>
		<key>osmKey</key>
		<string>drive_through</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>smoking</key>
	<dict>
		<key>name</key>
		<string>Smoking</string>
		<key>osmKey</key>
		<string>smoking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
			<key>Separated</key>
			<string>separated</string>
		</dict>
	</dict>
	<key>wheelchair</key>
	<dict>
		<key>name</key>
		<string>Wheelchair</string>
		<key>osmKey</key>
		<string>wheelchair</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
			<key>Limited</key>
			<string>limited</string>
		</dict>
	</dict>
	<key>fire_hydrant:type</key>
	<dict>
		<key>name</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>fire_hydrant:type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Underground</key>
			<string>underground</string>
			<key>Pillar</key>
			<string>pillar</string>
			<key>Wall</key>
			<string>wall</string>
			<key>Pond</key>
			<string>pond</string>
		</dict>
	</dict>
	<key>fire_hydrant:position</key>
	<dict>
		<key>name</key>
		<string>Position</string>
		<key>osmKey</key>
		<string>fire_hydrant:position</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Road</key>
			<string>lane</string>
			<key>Parking Lot</key>
			<string>parking_lot</string>
			<key>Sidewalk</key>
			<string>sidewalk</string>
			<key>Green</key>
			<string>green</string>
		</dict>
	</dict>
	<key>shelter</key>
	<dict>
		<key>name</key>
		<string>Shelter</string>
		<key>osmKey</key>
		<string>shelter</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>ref</key>
	<dict>
		<key>name</key>
		<string>Ref</string>
		<key>osmKey</key>
		<string>ref</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>operator</key>
	<dict>
		<key>name</key>
		<string>Operator</string>
		<key>osmKey</key>
		<string>operator</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>fee</key>
	<dict>
		<key>name</key>
		<string>Fee</string>
		<key>osmKey</key>
		<string>fee</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>dispensing</key>
	<dict>
		<key>name</key>
		<string>Dispensing</string>
		<key>osmKey</key>
		<string>dispensing</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>binary</string>
	</dict>
	<key>denomination:christian</key>
	<dict>
		<key>name</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Alliance</key>
			<string>alliance</string>
			<key>Anglican</key>
			<string>anglican</string>
			<key>Assemblies of God</key>
			<string>assemblies_of_god</string>
			<key>Roman Catholic</key>
			<string>roman_catholic</string>
			<key>Greek Catholic</key>
			<string>greek_catholic</string>
			<key>Baptist</key>
			<string>baptist</string>
			<key>Lutheran</key>
			<string>lutheran</string>
			<key>Methodist</key>
			<string>methodist</string>
			<key>Pentecostal</key>
			<string>pentecostal</string>
			<key>Mormon</key>
			<string>mormon</string>
			<key>Quaker</key>
			<string>quaker</string>
			<key>Presbyterian</key>
			<string>presbyterian</string>
			<key>Russian Orthodox</key>
			<string>russian_orthodox</string>
			<key>United Church of Christ</key>
			<string>united_church_of_christ</string>
			<key>Christian Scientist</key>
			<string>christ_scientist</string>
			<key>Mennonite</key>
			<string>mennonite</string>
			<key>Evangelical</key>
			<string>evangelical</string>
			<key>Jehovahs Witness</key>
			<string>jehovahs_witness</string>
			<key>Seventh Day Adventist</key>
			<string>seventh_day_adventist</string>
			<key>Moravian</key>
			<string>moravian</string>
		</dict>
	</dict>
	<key>denomination:jewish</key>
	<dict>
		<key>name</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Hasidic</key>
			<string>Hasidic</string>
			<key>Alternative</key>
			<string>alternative</string>
			<key>Conservative</key>
			<string>conservative</string>
			<key>humanistic</key>
			<string>Humanistic</string>
			<key>Karaite</key>
			<string>karaite</string>
			<key>Liberal</key>
			<string>liberal</string>
			<key>Modern Orthodox</key>
			<string>modern_orthodox</string>
			<key>Methodist</key>
			<string>methodist</string>
			<key>Orthodox</key>
			<string>orthodox</string>
			<key>Neo Orthodox</key>
			<string>neo_orthodox</string>
			<key>Nondenominational</key>
			<string>nondenominational</string>
			<key>Progressive</key>
			<string>progressive</string>
			<key>Reconstructionist</key>
			<string>reconstructionist</string>
			<key>Reform</key>
			<string>reform</string>
			<key>Renewal</key>
			<string>renewal</string>
			<key>Samaritan</key>
			<string>samaritan</string>
			<key>Ultra Orthodox</key>
			<string>ultra_orthodox</string>
			<key>Jehovahs Witness</key>
			<string>jehovahs_witness</string>
		</dict>
	</dict>
	<key>denomination:muslim</key>
	<dict>
		<key>name</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Ahmadiya</key>
			<string>ahmadiya</string>
			<key>Alaouite</key>
			<string>alaouite</string>
			<key>Druze</key>
			<string>druze</string>
			<key>Ismaili</key>
			<string>ismaili</string>
			<key>Nondenominational</key>
			<string>nondenominational</string>
			<key>Shia</key>
			<string>shia</string>
			<key>Sunni</key>
			<string>sunni</string>
			<key>Ibadi</key>
			<string>ibadi</string>
		</dict>
	</dict>
	<key>addr:housenumber</key>
	<dict>
		<key>name</key>
		<string>Number</string>
		<key>osmKey</key>
		<string>addr:housenumber</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>1</string>
	</dict>
	<key>addr:street</key>
	<dict>
		<key>name</key>
		<string>Street</string>
		<key>osmKey</key>
		<string>addr:street</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>2</string>
	</dict>
	<key>addr:postcode</key>
	<dict>
		<key>name</key>
		<string>Post Code</string>
		<key>osmKey</key>
		<string>addr:postcode</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>6</string>
	</dict>
	<key>addr:city</key>
	<dict>
		<key>name</key>
		<string>City</string>
		<key>osmKey</key>
		<string>addr:city</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>3</string>
	</dict>
	<key>addr:state</key>
	<dict>
		<key>name</key>
		<string>State</string>
		<key>osmKey</key>
		<string>addr:state</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>4</string>
	</dict>
	<key>addr:province</key>
	<dict>
		<key>name</key>
		<string>Province</string>
		<key>osmKey</key>
		<string>addr:province</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>5</string>
	</dict>
	<key>addr:country</key>
	<dict>
		<key>name</key>
		<string>Country</string>
		<key>osmKey</key>
		<string>addr:country</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>section_order</key>
		<string>7</string>
	</dict>
</dict>
</plist>
