<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Place of Worship</key>
	<dict>
		<key>religion</key>
		<dict>
			<key>amenity</key>
			<string>place_of_worship</string>
		</dict>
	</dict>
</dict>
</plist>
