<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Food and Drink</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>restaurant</key>
			<string>default.png</string>
			<key>cafe</key>
			<string>default.png</string>
			<key>pub</key>
			<string>default.png</string>
			<key>fast_food</key>
			<string>default.png</string>
			<key>bar</key>
			<string>bar.png</string>
			<key>biergarten</key>
			<string>default.png</string>
			<key>drinking_water</key>
			<string>default.png</string>
			<key>food_court</key>
			<string>default.png</string>
			<key>ice_cream</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Government</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>townhall</key>
			<string>default.png</string>
			<key>embassy</key>
			<string>default.png</string>
			<key>fire_station</key>
			<string>default.png</string>
			<key>police</key>
			<string>default.png</string>
			<key>post_office</key>
			<string>default.png</string>
			<key>prison</key>
			<string>default.png</string>
			<key>post_box</key>
			<string>default.png</string>
			<key>courthouse</key>
			<string>default.png</string>
		</dict>
		<key>office</key>
		<dict>
			<key>government</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Education</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>college</key>
			<string>default.png</string>
			<key>kindergarten</key>
			<string>default.png</string>
			<key>library</key>
			<string>default.png</string>
			<key>school</key>
			<string>default.png</string>
			<key>university</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Transportation</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>bicycle_parking</key>
			<string>default.png</string>
			<key>bicycle_rental</key>
			<string>default.png</string>
			<key>bus_station</key>
			<string>default.png</string>
			<key>car_rental</key>
			<string>default.png</string>
			<key>car_sharing</key>
			<string>default.png</string>
			<key>car_wash</key>
			<string>default.png</string>
			<key>ev_charging</key>
			<string>default.png</string>
			<key>ferry_terminal</key>
			<string>default.png</string>
			<key>fuel</key>
			<string>default.png</string>
			<key>parking</key>
			<string>default.png</string>
			<key>taxi</key>
			<string>default.png</string>
		</dict>
		<key>highway</key>
		<dict>
			<key>bus_stop</key>
			<string>default.png</string>
		</dict>
		<key>railway</key>
		<dict>
			<key>station</key>
			<string>default.png</string>
			<key>subway_entrance</key>
			<string>default.png</string>
			<key>tram_stop</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Healthcare</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>baby_hatch</key>
			<string>default.png</string>
			<key>clinic</key>
			<string>default.png</string>
			<key>dentist</key>
			<string>default.png</string>
			<key>doctors</key>
			<string>default.png</string>
			<key>hospital</key>
			<string>default.png</string>
			<key>nursing_home</key>
			<string>default.png</string>
			<key>pharmacy</key>
			<string>default.png</string>
			<key>social_facility</key>
			<string>default.png</string>
			<key>veterinary</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Entertainment and Art</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>arts_centre</key>
			<string>default.png</string>
			<key>cinema</key>
			<string>default.png</string>
			<key>community_centre</key>
			<string>default.png</string>
			<key>fountain</key>
			<string>default.png</string>
			<key>nightclub</key>
			<string>default.png</string>
			<key>social_centre</key>
			<string>default.png</string>
			<key>stripclub</key>
			<string>default.png</string>
			<key>studio</key>
			<string>default.png</string>
			<key>theatre</key>
			<string>default.png</string>
		</dict>
		<key>tourism</key>
		<dict>
			<key>artwork</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Tourism</key>
	<dict>
		<key>tourism</key>
		<dict>
			<key>apine_hut</key>
			<string>default.png</string>
			<key>camp_site</key>
			<string>default.png</string>
			<key>caravan_site</key>
			<string>default.png</string>
			<key>chalet</key>
			<string>default.png</string>
			<key>guest_house</key>
			<string>default.png</string>
			<key>hostel</key>
			<string>default.png</string>
			<key>hotel</key>
			<string>default.png</string>
			<key>motel</key>
			<string>default.png</string>
			<key>museum</key>
			<string>default.png</string>
			<key>theme_park</key>
			<string>default.png</string>
			<key>zoo</key>
			<string>default.png</string>
		</dict>
		<key>historic</key>
		<dict>
			<key>battlefield</key>
			<string>default.png</string>
			<key>boundry_stone</key>
			<string>default.png</string>
			<key>castle</key>
			<string>default.png</string>
			<key>fort</key>
			<string>default.png</string>
			<key>memorial</key>
			<string>default.png</string>
			<key>monument</key>
			<string>default.png</string>
			<key>ruins</key>
			<string>default.png</string>
			<key>wreck</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Outdoors and Natural</key>
	<dict>
		<key>tourism</key>
		<dict>
			<key>viewpoint</key>
			<string>default.png</string>
			<key>picnic_site</key>
			<string>default.png</string>
		</dict>
		<key>natural</key>
		<dict>
			<key>beach</key>
			<string>default.png</string>
			<key>peak</key>
			<string>default.png</string>
			<key>spring</key>
			<string>default.png</string>
			<key>tree</key>
			<string>default.png</string>
			<key>volcano</key>
			<string>default.png</string>
			<key>water</key>
			<string>default.png</string>
		</dict>
		<key>amenity</key>
		<dict>
			<key>bench</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Man Made</key>
	<dict>
		<key>man_made</key>
		<dict>
			<key>flagpole</key>
			<string>default.png</string>
			<key>lighthouse</key>
			<string>default.png</string>
			<key>storage_tank</key>
			<string>default.png</string>
			<key>tower</key>
			<string>default.png</string>
			<key>water_tower</key>
			<string>default.png</string>
			<key>windmill</key>
			<string>default.png</string>
		</dict>
		<key>emergency</key>
		<dict>
			<key>siren</key>
			<string>default.png</string>
		</dict>
		<key>amenity</key>
		<dict>
			<key>clock</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Services</key>
	<dict>
		<key>amenity</key>
		<dict>
			<key>atm</key>
			<string>default.png</string>
			<key>bank</key>
			<string>default.png</string>
			<key>bureau_de_change</key>
			<string>default.png</string>
		</dict>
		<key>office</key>
		<dict>
			<key>accountant</key>
			<string>default.png</string>
			<key>architect</key>
			<string>default.png</string>
			<key>estate_agent</key>
			<string>default.png</string>
			<key>insurance</key>
			<string>default.png</string>
			<key>it</key>
			<string>default.png</string>
			<key>lawyer</key>
			<string>default.png</string>
			<key>ngo</key>
			<string>default.png</string>
			<key>travel_agent</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Other</key>
	<dict>
		<key>emergency</key>
		<dict>
			<key>fire_hydrant</key>
			<string>default.png</string>
			<key>phone</key>
			<string>default.png</string>
		</dict>
		<key>amenity</key>
		<dict>
			<key>phone</key>
			<string>default.png</string>
			<key>waste_basket</key>
			<string>default.png</string>
			<key>recycling</key>
			<string>default.png</string>
			<key>telephone</key>
			<string>default.png</string>
			<key>toilets</key>
			<string>default.png</string>
			<key>vending_machine</key>
			<string>default.png</string>
		</dict>
	</dict>
	<key>Shopping</key>
	<dict>
		<key>shop</key>
		<dict>
			<key>alcohol</key>
			<string>default.png</string>
			<key>art</key>
			<string>default.png</string>
			<key>baby_goods</key>
			<string>default.png</string>
			<key>bakery</key>
			<string>default.png</string>
			<key>beauty</key>
			<string>default.png</string>
			<key>bed</key>
			<string>default.png</string>
			<key>beverages</key>
			<string>default.png</string>
			<key>bicycle</key>
			<string>default.png</string>
			<key>books</key>
			<string>default.png</string>
			<key>boutique</key>
			<string>default.png</string>
			<key>butcher</key>
			<string>default.png</string>
			<key>car</key>
			<string>default.png</string>
			<key>car_repair</key>
			<string>default.png</string>
			<key>car_parts</key>
			<string>default.png</string>
			<key>carpet</key>
			<string>default.png</string>
			<key>chemist</key>
			<string>default.png</string>
			<key>clothes</key>
			<string>default.png</string>
			<key>computer</key>
			<string>default.png</string>
			<key>confectionery</key>
			<string>default.png</string>
			<key>convenience</key>
			<string>default.png</string>
			<key>copyshop</key>
			<string>default.png</string>
			<key>deli</key>
			<string>default.png</string>
			<key>department_store</key>
			<string>default.png</string>
			<key>dive</key>
			<string>default.png</string>
			<key>dry_cleaning</key>
			<string>default.png</string>
			<key>electronics</key>
			<string>default.png</string>
			<key>erotic</key>
			<string>default.png</string>
			<key>farm</key>
			<string>default.png</string>
			<key>florist</key>
			<string>default.png</string>
			<key>frame</key>
			<string>default.png</string>
			<key>furniture</key>
			<string>default.png</string>
			<key>garden_centre</key>
			<string>default.png</string>
			<key>general</key>
			<string>default.png</string>
			<key>gift</key>
			<string>default.png</string>
			<key>hairdresser</key>
			<string>default.png</string>
			<key>hardware</key>
			<string>default.png</string>
			<key>jewelry</key>
			<string>default.png</string>
			<key>laundry</key>
			<string>default.png</string>
			<key>mall</key>
			<string>default.png</string>
			<key>money_lender</key>
			<string>default.png</string>
			<key>motorcycle</key>
			<string>default.png</string>
			<key>musical_instruments</key>
			<string>default.png</string>
			<key>newsagent</key>
			<string>default.png</string>
			<key>optician</key>
			<string>default.png</string>
			<key>outdoor</key>
			<string>default.png</string>
			<key>paint</key>
			<string>default.png</string>
			<key>pawnbroker</key>
			<string>default.png</string>
			<key>pet</key>
			<string>default.png</string>
			<key>second_hand</key>
			<string>default.png</string>
			<key>shoes</key>
			<string>default.png</string>
			<key>sports</key>
			<string>default.png</string>
			<key>stationery</key>
			<string>default.png</string>
			<key>supermarket</key>
			<string>default.png</string>
			<key>tattoo</key>
			<string>default.png</string>
			<key>tobacco</key>
			<string>default.png</string>
			<key>toys</key>
			<string>default.png</string>
			<key>video</key>
			<string>default.png</string>
		</dict>
	</dict>
</dict>
</plist>
