<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Education</key>
	<dict>
		<key>College</key>
		<dict>
			<key>image</key>
			<string>college.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>college</string>
			</dict>
		</dict>
		<key>Kindergarden</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>kindergarten</string>
			</dict>
		</dict>
		<key>Library</key>
		<dict>
			<key>image</key>
			<string>book.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>library</string>
			</dict>
		</dict>
		<key>School</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>school</string>
			</dict>
		</dict>
		<key>University</key>
		<dict>
			<key>image</key>
			<string>college.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>university</string>
			</dict>
		</dict>
	</dict>
	<key>Entertainment and Art</key>
	<dict>
		<key>Arts Center</key>
		<dict>
			<key>image</key>
			<string>art.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>arts_centre</string>
			</dict>
		</dict>
		<key>Community Center</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>community_centre</string>
			</dict>
		</dict>
		<key>Fountain</key>
		<dict>
			<key>image</key>
			<string>fountain.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>fountain</string>
			</dict>
		</dict>
		<key>Movie Theater</key>
		<dict>
			<key>image</key>
			<string>movie.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>cinema</string>
			</dict>
		</dict>
		<key>Nightclub</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>nightclub</string>
			</dict>
		</dict>
		<key>Public Artwork</key>
		<dict>
			<key>image</key>
			<string>art.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>artwork</string>
			</dict>
		</dict>
		<key>Recording Studio</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>studio</string>
			</dict>
		</dict>
		<key>Social Center</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>social_centre</string>
			</dict>
		</dict>
		<key>Stripclub</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>stripclub</string>
			</dict>
		</dict>
		<key>Theater or Opera House</key>
		<dict>
			<key>image</key>
			<string>theater.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>theatre</string>
			</dict>
		</dict>
	</dict>
	<key>Food and Drink</key>
	<dict>
		<key>Bar</key>
		<dict>
			<key>image</key>
			<string>bar.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bar</string>
			</dict>
		</dict>
		<key>Beer Garden</key>
		<dict>
			<key>image</key>
			<string>beer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>biergarten</string>
			</dict>
		</dict>
		<key>Cafe</key>
		<dict>
			<key>image</key>
			<string>cafe.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>cafe</string>
			</dict>
		</dict>
		<key>Drinking Water</key>
		<dict>
			<key>image</key>
			<string>drinking_water.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>drinking_water</string>
			</dict>
		</dict>
		<key>Fast Food</key>
		<dict>
			<key>image</key>
			<string>fast_food.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>fast_food</string>
			</dict>
		</dict>
		<key>Food Court</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>food_court</string>
			</dict>
		</dict>
		<key>Ice Cream Shop</key>
		<dict>
			<key>image</key>
			<string>ice_cream.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>ice_cream</string>
			</dict>
		</dict>
		<key>Pub</key>
		<dict>
			<key>image</key>
			<string>beer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>pub</string>
			</dict>
		</dict>
		<key>Restaurant</key>
		<dict>
			<key>image</key>
			<string>restaurant.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>restaurant</string>
			</dict>
		</dict>
		<key>Bakery</key>
		<dict>
			<key>image</key>
			<string>bread.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>bakery</string>
			</dict>
		</dict>
		<key>Deli</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>deli</string>
			</dict>
		</dict>
		<key>Butcher</key>
		<dict>
			<key>image</key>
			<string>butcher.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>butcher</string>
			</dict>
		</dict>
		<key>Beverage Shop</key>
		<dict>
			<key>image</key>
			<string>alcohol.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>beverages</string>
			</dict>
		</dict>
		<key>Alcohol Shop</key>
		<dict>
			<key>image</key>
			<string>alcohol.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>alcohol</string>
			</dict>
		</dict>
		<key>Craft Brewery</key>
		<dict>
			<key>image</key>
			<string>beer.png</string>
			<key>tags</key>
			<dict>
				<key>craft</key>
				<string>bewery</string>
			</dict>
		</dict>
	</dict>
	<key>Government</key>
	<dict>
		<key>Courthouse</key>
		<dict>
			<key>image</key>
			<string>gavel.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>courthouse</string>
			</dict>
		</dict>
		<key>Embassy</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>embassy</string>
			</dict>
		</dict>
		<key>Fire Station</key>
		<dict>
			<key>image</key>
			<string>fire_station.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>fire_station</string>
			</dict>
		</dict>
		<key>Office Building</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>government</string>
			</dict>
		</dict>
		<key>Police Station</key>
		<dict>
			<key>image</key>
			<string>police.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>police</string>
			</dict>
		</dict>
		<key>Post Box</key>
		<dict>
			<key>image</key>
			<string>letter.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>post_box</string>
			</dict>
		</dict>
		<key>Post Office</key>
		<dict>
			<key>image</key>
			<string>letter.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>post_office</string>
			</dict>
		</dict>
		<key>Prison</key>
		<dict>
			<key>image</key>
			<string>police.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>prison</string>
			</dict>
		</dict>
		<key>Townhall or Cityhall</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>townhall</string>
			</dict>
		</dict>
	</dict>
	<key>Healthcare</key>
	<dict>
		<key>Baby Hatch</key>
		<dict>
			<key>image</key>
			<string>baby_hatch.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>baby_hatch</string>
			</dict>
		</dict>
		<key>Clinic</key>
		<dict>
			<key>image</key>
			<string>first_aid.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>clinic</string>
			</dict>
		</dict>
		<key>Dentist</key>
		<dict>
			<key>image</key>
			<string>dentist.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>dentist</string>
			</dict>
		</dict>
		<key>Doctor</key>
		<dict>
			<key>image</key>
			<string>doctor.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>doctors</string>
			</dict>
		</dict>
		<key>Hospital</key>
		<dict>
			<key>image</key>
			<string>hospital.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>hospital</string>
			</dict>
		</dict>
		<key>Nursing Home</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>nursing_home</string>
			</dict>
		</dict>
		<key>Pharmacy</key>
		<dict>
			<key>image</key>
			<string>first_aid.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>pharmacy</string>
			</dict>
		</dict>
		<key>Social Facility</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>social_facility</string>
			</dict>
		</dict>
		<key>Veterinary</key>
		<dict>
			<key>image</key>
			<string>dog.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>veterinary</string>
			</dict>
		</dict>
	</dict>
	<key>Man Made</key>
	<dict>
		<key>Emergency Siren</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>emergency</key>
				<string>siren</string>
			</dict>
		</dict>
		<key>Flagpole</key>
		<dict>
			<key>image</key>
			<string>flag.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>flagpole</string>
			</dict>
		</dict>
		<key>Lighthouse</key>
		<dict>
			<key>image</key>
			<string>lighthouse.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>lighthouse</string>
			</dict>
		</dict>
		<key>Publicly Visible Clock</key>
		<dict>
			<key>image</key>
			<string>clock.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>clock</string>
			</dict>
		</dict>
		<key>Storage Tank</key>
		<dict>
			<key>image</key>
			<string>tank.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>storage_tank</string>
			</dict>
		</dict>
		<key>Tower</key>
		<dict>
			<key>image</key>
			<string>tower.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>tower</string>
			</dict>
		</dict>
		<key>Water Tower</key>
		<dict>
			<key>image</key>
			<string>tank.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>water_tower</string>
			</dict>
		</dict>
		<key>Windmill</key>
		<dict>
			<key>image</key>
			<string>windmill.png</string>
			<key>tags</key>
			<dict>
				<key>man_made</key>
				<string>windmill</string>
			</dict>
		</dict>
	</dict>
	<key>Other</key>
	<dict>
		<key>Emergency Phone</key>
		<dict>
			<key>image</key>
			<string>phone.png</string>
			<key>tags</key>
			<dict>
				<key>emergency</key>
				<string>phone</string>
			</dict>
		</dict>
		<key>Fire Hydrant</key>
		<dict>
			<key>image</key>
			<string>fire_hydrant.png</string>
			<key>tags</key>
			<dict>
				<key>emergency</key>
				<string>fire_hydrant</string>
			</dict>
		</dict>
		<key>Public Telephone</key>
		<dict>
			<key>image</key>
			<string>phone.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>telephone</string>
			</dict>
		</dict>
		<key>Public Toilets</key>
		<dict>
			<key>image</key>
			<string>toilet.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>toilets</string>
			</dict>
		</dict>
		<key>Recycling Can</key>
		<dict>
			<key>image</key>
			<string>recycle.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>recycling</string>
			</dict>
		</dict>
		<key>Trash Can</key>
		<dict>
			<key>image</key>
			<string>trash.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>waste_basket</string>
			</dict>
		</dict>
		<key>Vending Machine</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>vending_machine</string>
			</dict>
		</dict>
	</dict>
	<key>Outdoors and Natural</key>
	<dict>
		<key>Beach</key>
		<dict>
			<key>image</key>
			<string>beach.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>beach</string>
			</dict>
		</dict>
		<key>Bench</key>
		<dict>
			<key>image</key>
			<string>bench.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bench</string>
			</dict>
		</dict>
		<key>Lake</key>
		<dict>
			<key>image</key>
			<string>water.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>water</string>
			</dict>
		</dict>
		<key>Peak</key>
		<dict>
			<key>image</key>
			<string>peak.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>peak</string>
			</dict>
		</dict>
		<key>Picnic Site</key>
		<dict>
			<key>image</key>
			<string>picnic.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>picnic_site</string>
			</dict>
		</dict>
		<key>Scenic Viewpoint</key>
		<dict>
			<key>image</key>
			<string>viewpoint.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>viewpoint</string>
			</dict>
		</dict>
		<key>Spring</key>
		<dict>
			<key>image</key>
			<string>water.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>spring</string>
			</dict>
		</dict>
		<key>Tree</key>
		<dict>
			<key>image</key>
			<string>tree.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>tree</string>
			</dict>
		</dict>
		<key>Volcano</key>
		<dict>
			<key>image</key>
			<string>volvano.png</string>
			<key>tags</key>
			<dict>
				<key>natural</key>
				<string>volcano</string>
			</dict>
		</dict>
	</dict>
	<key>Place of Worship</key>
	<dict>
		<key>Buddhist</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>buddhist</string>
			</dict>
		</dict>
		<key>Christian</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>christian</string>
			</dict>
		</dict>
		<key>Hindu</key>
		<dict>
			<key>image</key>
			<string>hindu.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>hindu</string>
			</dict>
		</dict>
		<key>Jewish</key>
		<dict>
			<key>image</key>
			<string>stardavid.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>jewish</string>
			</dict>
		</dict>
		<key>Multifaith</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>multifaith</string>
			</dict>
		</dict>
		<key>Muslim</key>
		<dict>
			<key>image</key>
			<string>crescent.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>muslim</string>
			</dict>
		</dict>
		<key>Pagan</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>pagan</string>
			</dict>
		</dict>
		<key>Scientologist</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>scientologist</string>
			</dict>
		</dict>
		<key>Shinto</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>shinto</string>
			</dict>
		</dict>
		<key>Sikh</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>sikh</string>
			</dict>
		</dict>
		<key>Spiritualist</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>spiritualist</string>
			</dict>
		</dict>
		<key>Taoist</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>taoist</string>
			</dict>
		</dict>
		<key>Unitarian</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>unitarian</string>
			</dict>
		</dict>
		<key>Voodoo</key>
		<dict>
			<key>image</key>
			<string>prayer.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>place_of_worship</string>
				<key>religion</key>
				<string>voodoo</string>
			</dict>
		</dict>
	</dict>
	<key>Services</key>
	<dict>
		<key>ATM</key>
		<dict>
			<key>image</key>
			<string>atm.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>atm</string>
			</dict>
		</dict>
		<key>Hairdresser</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>hairdresser</string>
			</dict>
		</dict>
		<key>Loans</key>
		<dict>
			<key>image</key>
			<string>money.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>money_lender</string>
			</dict>
		</dict>
		<key>Accountant</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>accountant</string>
			</dict>
		</dict>
		<key>Architect</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>architect</string>
			</dict>
		</dict>
		<key>Bank</key>
		<dict>
			<key>image</key>
			<string>bank.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bank</string>
			</dict>
		</dict>
		<key>Currency Exchange</key>
		<dict>
			<key>image</key>
			<string>currency.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bureau_de_change</string>
			</dict>
		</dict>
		<key>IT Specialist</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>it</string>
			</dict>
		</dict>
		<key>Insurance</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>insurance</string>
			</dict>
		</dict>
		<key>Spa or Nail Salon</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>beauty</string>
			</dict>
		</dict>
		<key>Lawyer</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>lawyer</string>
			</dict>
		</dict>
		<key>NGO</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>ngo</string>
			</dict>
		</dict>
		<key>Realtor</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>estate_agent</string>
			</dict>
		</dict>
		<key>Travel Agency</key>
		<dict>
			<key>image</key>
			<string>building.png</string>
			<key>tags</key>
			<dict>
				<key>office</key>
				<string>travel_agent</string>
			</dict>
		</dict>
		<key>Dry Cleaning</key>
		<dict>
			<key>image</key>
			<string>shirt.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>dry_cleaning</string>
			</dict>
		</dict>
		<key>Laundromat</key>
		<dict>
			<key>image</key>
			<string>shirt.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>laundry</string>
			</dict>
		</dict>
	</dict>
	<key>Shopping</key>
	<dict>
		<key>Art</key>
		<dict>
			<key>image</key>
			<string>art.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>art</string>
			</dict>
		</dict>
		<key>Baby Goods</key>
		<dict>
			<key>image</key>
			<string>baby_hatch.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>baby_goods</string>
			</dict>
		</dict>
		<key>Bicycle Shop</key>
		<dict>
			<key>image</key>
			<string>bicycle.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>bicycle</string>
			</dict>
		</dict>
		<key>Book Store</key>
		<dict>
			<key>image</key>
			<string>book.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>books</string>
			</dict>
		</dict>
		<key>Boutique</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>boutique</string>
			</dict>
		</dict>
		<key>Candy Shop</key>
		<dict>
			<key>image</key>
			<string>candy.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>confectionery</string>
			</dict>
		</dict>
		<key>Car Dealership</key>
		<dict>
			<key>image</key>
			<string>car.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>car</string>
			</dict>
		</dict>
		<key>Car Parts Store</key>
		<dict>
			<key>image</key>
			<string>wrench.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>car_parts</string>
			</dict>
		</dict>
		<key>Car Repair</key>
		<dict>
			<key>image</key>
			<string>wrench.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>car_repair</string>
			</dict>
		</dict>
		<key>Carpet</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>carpet</string>
			</dict>
		</dict>
		<key>Clothes</key>
		<dict>
			<key>image</key>
			<string>shirt.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>clothes</string>
			</dict>
		</dict>
		<key>Computer</key>
		<dict>
			<key>image</key>
			<string>computer.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>computer</string>
			</dict>
		</dict>
		<key>Convenience Store</key>
		<dict>
			<key>image</key>
			<string>shop.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>convenience</string>
			</dict>
		</dict>
		<key>Copy and Fax Shop</key>
		<dict>
			<key>image</key>
			<string>paperclip.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>copyshop</string>
			</dict>
		</dict>
		<key>Cosmetics</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>chemist</string>
			</dict>
		</dict>
		<key>Department Store</key>
		<dict>
			<key>image</key>
			<string>shop.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>department_store</string>
			</dict>
		</dict>
		<key>Diving Equipment</key>
		<dict>
			<key>image</key>
			<string>scuba.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>dive</string>
			</dict>
		</dict>
		<key>Electronics</key>
		<dict>
			<key>image</key>
			<string>computer.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>electronics</string>
			</dict>
		</dict>
		<key>Farm Store</key>
		<dict>
			<key>image</key>
			<string>farm.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>farm</string>
			</dict>
		</dict>
		<key>Florist</key>
		<dict>
			<key>image</key>
			<string>flower.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>florist</string>
			</dict>
		</dict>
		<key>Frame Store</key>
		<dict>
			<key>image</key>
			<string>frame.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>frame</string>
			</dict>
		</dict>
		<key>Furniture Store</key>
		<dict>
			<key>image</key>
			<string>chair.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>furniture</string>
			</dict>
		</dict>
		<key>Garden Center</key>
		<dict>
			<key>image</key>
			<string>flower.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>garden_centre</string>
			</dict>
		</dict>
		<key>General Store</key>
		<dict>
			<key>image</key>
			<string>shop.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>general</string>
			</dict>
		</dict>
		<key>Gift Shop</key>
		<dict>
			<key>image</key>
			<string>gift.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>gift</string>
			</dict>
		</dict>
		<key>Hardware Store</key>
		<dict>
			<key>image</key>
			<string>wrench.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>hardware</string>
			</dict>
		</dict>
		<key>Jewelry Store</key>
		<dict>
			<key>image</key>
			<string>ring.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>jewelry</string>
			</dict>
		</dict>
		<key>Matress Store</key>
		<dict>
			<key>image</key>
			<string>hotel.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>bed</string>
			</dict>
		</dict>
		<key>Motorcycle Dealership</key>
		<dict>
			<key>image</key>
			<string>motorcycle.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>motorcycle</string>
			</dict>
		</dict>
		<key>Music Store for Instruments</key>
		<dict>
			<key>image</key>
			<string>trumpet.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>musical_instruments</string>
			</dict>
		</dict>
		<key>Newsstand </key>
		<dict>
			<key>image</key>
			<string>news.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>newsagent</string>
			</dict>
		</dict>
		<key>Office Supplies</key>
		<dict>
			<key>image</key>
			<string>paperclip.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>stationery</string>
			</dict>
		</dict>
		<key>Optician</key>
		<dict>
			<key>image</key>
			<string>glasses.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>optician</string>
			</dict>
		</dict>
		<key>Outdoor Store</key>
		<dict>
			<key>image</key>
			<string>tree.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>outdoor</string>
			</dict>
		</dict>
		<key>Paint</key>
		<dict>
			<key>image</key>
			<string>paint_brush.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>paint</string>
			</dict>
		</dict>
		<key>Pawn Shop</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>pawnbroker</string>
			</dict>
		</dict>
		<key>Pet Store</key>
		<dict>
			<key>image</key>
			<string>dog.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>pet</string>
			</dict>
		</dict>
		<key>Second Hand Store</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>second_hand</string>
			</dict>
		</dict>
		<key>Shoe Store</key>
		<dict>
			<key>image</key>
			<string>shoe.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>shoes</string>
			</dict>
		</dict>
		<key>Shopping Mall</key>
		<dict>
			<key>image</key>
			<string>shop.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>mall</string>
			</dict>
		</dict>
		<key>Sporting Goods</key>
		<dict>
			<key>image</key>
			<string>basketball.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>sports</string>
			</dict>
		</dict>
		<key>Supermarket</key>
		<dict>
			<key>image</key>
			<string>shop.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>supermarket</string>
			</dict>
		</dict>
		<key>Tattoo Parlor</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>tattoo</string>
			</dict>
		</dict>
		<key>Tobacco Shop</key>
		<dict>
			<key>image</key>
			<string>pipe.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>tobacco</string>
			</dict>
		</dict>
		<key>Toy Store</key>
		<dict>
			<key>image</key>
			<string>teddybear.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>toys</string>
			</dict>
		</dict>
		<key>Video Rental</key>
		<dict>
			<key>image</key>
			<string>movie.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>video</string>
			</dict>
		</dict>
		<key>XXX/Adult Store</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>shop</key>
				<string>erotic</string>
			</dict>
		</dict>
	</dict>
	<key>Tourism</key>
	<dict>
		<key>Bed and Breakfast</key>
		<dict>
			<key>image</key>
			<string>bed.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>guest_house</string>
			</dict>
		</dict>
		<key>Camp Site</key>
		<dict>
			<key>image</key>
			<string>tent.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>camp_site</string>
			</dict>
		</dict>
		<key>Castle</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>castle</string>
			</dict>
		</dict>
		<key>Chalet</key>
		<dict>
			<key>image</key>
			<string>bed.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>chalet</string>
			</dict>
		</dict>
		<key>Historic Battlefield</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>battlefield</string>
			</dict>
		</dict>
		<key>Historic Boundry Stone</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>boundry_stone</string>
			</dict>
		</dict>
		<key>Hostel</key>
		<dict>
			<key>image</key>
			<string>bed.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>hostel</string>
			</dict>
		</dict>
		<key>Hotel</key>
		<dict>
			<key>image</key>
			<string>bed.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>hotel</string>
			</dict>
		</dict>
		<key>Memorial</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>memorial</string>
			</dict>
		</dict>
		<key>Military Fort</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>fort</string>
			</dict>
		</dict>
		<key>Monument</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>monument</string>
			</dict>
		</dict>
		<key>Motel</key>
		<dict>
			<key>image</key>
			<string>bed.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>motel</string>
			</dict>
		</dict>
		<key>Mountain Hut</key>
		<dict>
			<key>image</key>
			<string>cabin.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>apine_hut</string>
			</dict>
		</dict>
		<key>Museum</key>
		<dict>
			<key>image</key>
			<string>museum.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>museum</string>
			</dict>
		</dict>
		<key>Nautical Craft Wreck</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>wreck</string>
			</dict>
		</dict>
		<key>RV Park</key>
		<dict>
			<key>image</key>
			<string>trailer.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>caravan_site</string>
			</dict>
		</dict>
		<key>Ruins</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>historic</key>
				<string>ruins</string>
			</dict>
		</dict>
		<key>Theme Park</key>
		<dict>
			<key>image</key>
			<string>none.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>theme_park</string>
			</dict>
		</dict>
		<key>Zoo</key>
		<dict>
			<key>image</key>
			<string>zoo.png</string>
			<key>tags</key>
			<dict>
				<key>tourism</key>
				<string>zoo</string>
			</dict>
		</dict>
	</dict>
	<key>Transportation</key>
	<dict>
		<key>Bicycle Parking</key>
		<dict>
			<key>image</key>
			<string>bicycle.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bicycle_parking</string>
			</dict>
		</dict>
		<key>Bicycle Rental</key>
		<dict>
			<key>image</key>
			<string>bicycle.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bicycle_rental</string>
			</dict>
		</dict>
		<key>Bus Station</key>
		<dict>
			<key>image</key>
			<string>bus_stop.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>bus_station</string>
			</dict>
		</dict>
		<key>Bus Stop</key>
		<dict>
			<key>image</key>
			<string>bus.png</string>
			<key>tags</key>
			<dict>
				<key>highway</key>
				<string>bus_stop</string>
			</dict>
		</dict>
		<key>Car Rental</key>
		<dict>
			<key>image</key>
			<string>car_rental.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>car_rental</string>
			</dict>
		</dict>
		<key>Car Sharing</key>
		<dict>
			<key>image</key>
			<string>car_rental.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>car_sharing</string>
			</dict>
		</dict>
		<key>Car Wash</key>
		<dict>
			<key>image</key>
			<string>car_wash.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>car_wash</string>
			</dict>
		</dict>
		<key>Electric Vehicle Charging</key>
		<dict>
			<key>image</key>
			<string>EV.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>ev_charging</string>
			</dict>
		</dict>
		<key>Ferry Terminal</key>
		<dict>
			<key>image</key>
			<string>ferry.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>ferry_terminal</string>
			</dict>
		</dict>
		<key>Gas Station</key>
		<dict>
			<key>image</key>
			<string>fuel.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>fuel</string>
			</dict>
		</dict>
		<key>Parking</key>
		<dict>
			<key>image</key>
			<string>parking.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>parking</string>
			</dict>
		</dict>
		<key>Rail Station</key>
		<dict>
			<key>image</key>
			<string>train.png</string>
			<key>tags</key>
			<dict>
				<key>railway</key>
				<string>station</string>
			</dict>
		</dict>
		<key>Subway Entrance</key>
		<dict>
			<key>image</key>
			<string>subway_entrance.png</string>
			<key>tags</key>
			<dict>
				<key>railway</key>
				<string>subway_entrance</string>
			</dict>
		</dict>
		<key>Taxi Stand</key>
		<dict>
			<key>image</key>
			<string>taxi.png</string>
			<key>tags</key>
			<dict>
				<key>amenity</key>
				<string>taxi</string>
			</dict>
		</dict>
		<key>Tram Stop</key>
		<dict>
			<key>image</key>
			<string>tram.png</string>
			<key>tags</key>
			<dict>
				<key>railway</key>
				<string>tram_stop</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
