<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>food</key>
	<dict>
		<key>amenity</key>
		<array>
			<string>restaurant</string>
			<string>cafe</string>
			<string>pub</string>
			<string>fast_food</string>
			<string>bar</string>
			<string>biergarten</string>
		</array>
	</dict>
	<key>government</key>
	<dict>
		<key>amenity</key>
		<array>
			<string>townhall</string>
			<string></string>
		</array>
	</dict>
</dict>
</plist>
