<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bing</key>
	<dict>
		<key>name</key>
		<string>Bing Satellite</string>
		<key>url</key>
		<string></string>
		<key>image</key>
		<string>icon.png</string>
	</dict>
	<key>Stamen Terrain</key>
	<dict>
		<key>url</key>
		<string>http://tile.stamen.com/terrain/&lt;zoom&gt;/&lt;x&gt;/&lt;y&gt;.jpg</string>
		<key>name</key>
		<string>United States Terrain</string>
		<key>image</key>
		<string>icon.png</string>
	</dict>
</dict>
</plist>
