<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>parking_access</key>
	<dict>
		<key>displayName</key>
		<string>Access</string>
		<key>osmKey</key>
		<string>access</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Private</key>
			<string>private</string>
			<key>Permissive</key>
			<string>permissive</string>
			<key>Customers</key>
			<string>customers</string>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
		</dict>
	</dict>
	<key>tower:type</key>
	<dict>
		<key>displayName</key>
		<string>Tower Type</string>
		<key>osmKey</key>
		<string>tower:type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Communication</key>
			<string>communication</string>
			<key>Observation</key>
			<string>observation</string>
			<key>Bell Tower</key>
			<string>bell_tower</string>
			<key>Defensive</key>
			<string>defensive</string>
		</dict>
	</dict>
	<key>microbrewery</key>
	<dict>
		<key>displayName</key>
		<string>Microbrewery</string>
		<key>osmKey</key>
		<string>microbrewery</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>capacity</key>
	<dict>
		<key>displayName</key>
		<string>Capacity</string>
		<key>osmKey</key>
		<string>capacity</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>number</string>
	</dict>
	<key>voltage</key>
	<dict>
		<key>displayName</key>
		<string>Voltage</string>
		<key>osmKey</key>
		<string>voltage</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>number</string>
	</dict>
	<key>maxtents</key>
	<dict>
		<key>displayName</key>
		<string>Max Tents</string>
		<key>osmKey</key>
		<string>maxtents</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>number</string>
	</dict>
	<key>cuisine</key>
	<dict>
		<key>displayName</key>
		<string>Cuisine</string>
		<key>osmKey</key>
		<string>cuisine</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Regional</key>
			<string>regional</string>
			<key>Coffee Shop</key>
			<string>coffee_shop</string>
			<key>Crêpes</key>
			<string>crepe</string>
			<key>Burger</key>
			<string>burger</string>
			<key>Pizza</key>
			<string>pizza</string>
			<key>Italian</key>
			<string>italian</string>
			<key>Chinese</key>
			<string>chinese</string>
			<key>German</key>
			<string>german</string>
			<key>Kebab</key>
			<string>kebab</string>
			<key>Sandwich</key>
			<string>sandwich</string>
			<key>Indian</key>
			<string>indian</string>
			<key>Greek</key>
			<string>greek</string>
			<key>Asian</key>
			<string>asian</string>
			<key>Mexican</key>
			<string>mexican</string>
			<key>Ice Cream</key>
			<string>ice_cream</string>
			<key>French</key>
			<string>french</string>
			<key>Thai</key>
			<string>thai</string>
			<key>Fish and Chips</key>
			<string>fish_and_chips</string>
			<key>Japanese</key>
			<string>japanese</string>
			<key>Spanish</key>
			<string>spanish</string>
			<key>Steak House</key>
			<string>steak_house</string>
			<key>Seafood</key>
			<string>seafood</string>
			<key>Korean</key>
			<string>korean</string>
			<key>Vietnamese</key>
			<string>vietnamese</string>
			<key>Barbecue</key>
			<string>barbecue</string>
			<key>Lebanese</key>
			<string>lebanese</string>
			<key>Persian</key>
			<string>persian</string>
			<key>Mediterranean</key>
			<string>mediterranean</string>
			<key>Ethiopian</key>
			<string>ethiopian</string>
		</dict>
	</dict>
	<key>generator-source</key>
	<dict>
		<key>displayName</key>
		<string>Source</string>
		<key>osmKey</key>
		<string>generator:source</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Biomass</key>
			<string>biomass</string>
			<key>Biofuel</key>
			<string>biofuel</string>
			<key>Biogas</key>
			<string>biogas</string>
			<key>Coal</key>
			<string>coal</string>
			<key>Natural Gass</key>
			<string>gas</string>
			<key>Oil</key>
			<string>oil</string>
			<key>Diesel</key>
			<string>diesel</string>
			<key>Gasoline</key>
			<string>gasoline</string>
			<key>Waste</key>
			<string>waste</string>
			<key>Wind</key>
			<string>wind</string>
			<key>Solar</key>
			<string>solar</string>
			<key>Hydro</key>
			<string>hydro</string>
			<key>Tidal</key>
			<string>tidal</string>
			<key>Wave</key>
			<string>wave</string>
			<key>Geothermal</key>
			<string>geothermal</string>
			<key>Osmotic</key>
			<string>osmotic</string>
			<key>Nuclear</key>
			<string>nuclear</string>
		</dict>
	</dict>
	<key>generator-method</key>
	<dict>
		<key>displayName</key>
		<string>Method</string>
		<key>osmKey</key>
		<string>generator:method</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Cumbustion</key>
			<string>combustion</string>
			<key>Fission</key>
			<string>fission</string>
			<key>Fusion</key>
			<string>fusion</string>
			<key>Thermal</key>
			<string>thermal</string>
			<key>Pumping</key>
			<string>pumping</string>
			<key>Photovoltaic</key>
			<string>photovoltaic</string>
			<key>Gasification</key>
			<string>gasification</string>
			<key>Anaerobic Digestion</key>
			<string>anaerobic_digestion</string>
			<key>Pyrolysis</key>
			<string>Pyrolysis</string>
			<key>Dam</key>
			<string>dam</string>
			<key>Pumped-Storage</key>
			<string>pumped-storage</string>
			<key>Run of the River</key>
			<string>run-of-the-river</string>
		</dict>
	</dict>
	<key>bicycle_parking</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>bicycle_parking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Shed</key>
			<string>shed</string>
			<key>Building</key>
			<string>building</string>
			<key>Lockers</key>
			<string>lockers</string>
			<key>Stands</key>
			<string>stands</string>
			<key>Wall Loops</key>
			<string>wall_loops</string>
			<key>Informal</key>
			<string>informal</string>
		</dict>
	</dict>
	<key>bicycle</key>
	<dict>
		<key>displayName</key>
		<string>Bicycle</string>
		<key>osmKey</key>
		<string>bicycle</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>atm</key>
	<dict>
		<key>displayName</key>
		<string>ATM</string>
		<key>osmKey</key>
		<string>atm</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_second_hand</key>
	<dict>
		<key>displayName</key>
		<string>Used Bikes Sold</string>
		<key>osmKey</key>
		<string>service:bicycle:second_hand</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_cleaning</key>
	<dict>
		<key>displayName</key>
		<string>Bicycles Cleaned</string>
		<key>osmKey</key>
		<string>service:bicycle:cleaning</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_diy</key>
	<dict>
		<key>displayName</key>
		<string>Bicycle DIY</string>
		<key>osmKey</key>
		<string>service:bicycle:diy</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_pump</key>
	<dict>
		<key>displayName</key>
		<string>Bicycle Pump</string>
		<key>osmKey</key>
		<string>service:bicycle:pump</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_rental</key>
	<dict>
		<key>displayName</key>
		<string>Bicycles Rented</string>
		<key>osmKey</key>
		<string>service:bicycle:rental</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_retail</key>
	<dict>
		<key>displayName</key>
		<string>Bicycles Sold</string>
		<key>osmKey</key>
		<string>service:bicycle:retail</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_repair</key>
	<dict>
		<key>displayName</key>
		<string>Bicycles Repaired</string>
		<key>osmKey</key>
		<string>service:bicycle:repair</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>tents</key>
	<dict>
		<key>displayName</key>
		<string>Tents</string>
		<key>osmKey</key>
		<string>tents</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>internet_access</key>
	<dict>
		<key>displayName</key>
		<string>Internet</string>
		<key>osmKey</key>
		<string>internet_access</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
			<key>Terminal</key>
			<string>terminal</string>
			<key>Wired</key>
			<string>wired</string>
			<key>Wifi</key>
			<string>wlan</string>
		</dict>
	</dict>
	<key>internet_access_fee</key>
	<dict>
		<key>displayName</key>
		<string>Internet Fee</string>
		<key>osmKey</key>
		<string>internet_access:fee</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>takeaway</key>
	<dict>
		<key>displayName</key>
		<string>Takeaway</string>
		<key>osmKey</key>
		<string>takeaway</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
			<key>Only</key>
			<string>only</string>
		</dict>
	</dict>
	<key>swimming_pool_access</key>
	<dict>
		<key>displayName</key>
		<string>Access</string>
		<key>osmKey</key>
		<string>access</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Private</key>
			<string>private</string>
			<key>Permissive</key>
			<string>permissive</string>
			<key>Customer</key>
			<string>customer</string>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>shelter_type</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>shelter_type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Weather Shelter</key>
			<string>weather_shelter</string>
			<key>Basic Hut</key>
			<string>basic_hut</string>
			<key>Lean-to</key>
			<string>lean-to</string>
			<key>Picnic Shelter</key>
			<string>picnic_shelter</string>
			<key>Rock Shelter</key>
			<string>rock_shelter</string>
			<key>Public Transport</key>
			<string>public_transport</string>
		</dict>
	</dict>
	<key>wifi</key>
	<dict>
		<key>displayName</key>
		<string>Wifi</string>
		<key>osmKey</key>
		<string>wifi</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
			<key>Free</key>
			<string>free</string>
		</dict>
	</dict>
	<key>outdoor_seating</key>
	<dict>
		<key>displayName</key>
		<string>Outdoor Seating</string>
		<key>osmKey</key>
		<string>outdoor_seating</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>covered</key>
	<dict>
		<key>displayName</key>
		<string>Covered</string>
		<key>osmKey</key>
		<string>covered</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bench</key>
	<dict>
		<key>displayName</key>
		<string>Bench</string>
		<key>osmKey</key>
		<string>bench</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>map_size</key>
	<dict>
		<key>displayName</key>
		<string>Size</string>
		<key>osmKey</key>
		<string>map_size</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Building</key>
			<string>building</string>
			<key>Site</key>
			<string>site</string>
			<key>City</key>
			<string>city</string>
			<key>Region</key>
			<string>region</string>
			<key>Village</key>
			<string>village</string>
		</dict>
	</dict>
	<key>map_type</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>map_type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Topo</key>
			<string>topo</string>
			<key>Street</key>
			<string>street</string>
			<key>Scheme</key>
			<string>scheme</string>
			<key>Aerial Photograph</key>
			<string>orthophoto</string>
		</dict>
	</dict>
	<key>ski_guidepost</key>
	<dict>
		<key>displayName</key>
		<string>Skiing</string>
		<key>osmKey</key>
		<string>ski</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>hiking_guidepost</key>
	<dict>
		<key>displayName</key>
		<string>Hiking</string>
		<key>osmKey</key>
		<string>hiking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>bicycle_guidepost</key>
	<dict>
		<key>displayName</key>
		<string>Biking</string>
		<key>osmKey</key>
		<string>bicycle</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>board_type</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>board_type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Art</key>
			<string>art</string>
			<key>Geology</key>
			<string>geology</string>
			<key>History</key>
			<string>history</string>
			<key>Nature</key>
			<string>nature</string>
			<key>Notice</key>
			<string>notice</string>
			<key>Plants</key>
			<string>plants</string>
			<key>Public Transport</key>
			<string>public_transport</string>
			<key>Wildlife</key>
			<string>wildlife</string>
			<key>Technology</key>
			<string>technology</string>
		</dict>
	</dict>
	<key>information</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>information</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Office</key>
			<string>office</string>
			<key>Audio Guide</key>
			<string>audioguide</string>
			<key>Guidepost</key>
			<string>guidepost</string>
			<key>Map</key>
			<string>map</string>
			<key>Tactile Map</key>
			<string>tactile_map</string>
			<key>Tactile Model</key>
			<string>tactilve_model</string>
			<key>Board</key>
			<string>board</string>
		</dict>
	</dict>
	<key>elevator</key>
	<dict>
		<key>displayName</key>
		<string>Elevator</string>
		<key>osmKey</key>
		<string>highway</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>elevator</string>
		</dict>
	</dict>
	<key>drive_in</key>
	<dict>
		<key>displayName</key>
		<string>Drive In</string>
		<key>osmKey</key>
		<string>drive_in</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>drive_through</key>
	<dict>
		<key>displayName</key>
		<string>Drive-through</string>
		<key>osmKey</key>
		<string>drive_through</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>smoking</key>
	<dict>
		<key>displayName</key>
		<string>Smoking</string>
		<key>osmKey</key>
		<string>smoking</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
			<key>Separated</key>
			<string>separated</string>
		</dict>
	</dict>
	<key>wheelchair</key>
	<dict>
		<key>displayName</key>
		<string>Wheelchair</string>
		<key>osmKey</key>
		<string>wheelchair</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>No</key>
			<string>no</string>
			<key>Yes</key>
			<string>yes</string>
			<key>Limited</key>
			<string>limited</string>
		</dict>
	</dict>
	<key>fire_hydrant:type</key>
	<dict>
		<key>displayName</key>
		<string>Type</string>
		<key>osmKey</key>
		<string>fire_hydrant:type</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Underground</key>
			<string>underground</string>
			<key>Pillar</key>
			<string>pillar</string>
			<key>Wall</key>
			<string>wall</string>
			<key>Pond</key>
			<string>pond</string>
		</dict>
	</dict>
	<key>fire_hydrant:position</key>
	<dict>
		<key>displayName</key>
		<string>Position</string>
		<key>osmKey</key>
		<string>fire_hydrant:position</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Road</key>
			<string>lane</string>
			<key>Parking Lot</key>
			<string>parking_lot</string>
			<key>Sidewalk</key>
			<string>sidewalk</string>
			<key>Green</key>
			<string>green</string>
		</dict>
	</dict>
	<key>shelter</key>
	<dict>
		<key>displayName</key>
		<string>Shelter</string>
		<key>osmKey</key>
		<string>shelter</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>ref</key>
	<dict>
		<key>displayName</key>
		<string>Ref</string>
		<key>osmKey</key>
		<string>ref</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>route_ref</key>
	<dict>
		<key>displayName</key>
		<string>Route Ref</string>
		<key>osmKey</key>
		<string>route_ref</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>operator</key>
	<dict>
		<key>displayName</key>
		<string>Operator</string>
		<key>osmKey</key>
		<string>operator</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>label</string>
	</dict>
	<key>fee</key>
	<dict>
		<key>displayName</key>
		<string>Fee</string>
		<key>osmKey</key>
		<string>fee</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>dispensing</key>
	<dict>
		<key>displayName</key>
		<string>Dispensing</string>
		<key>osmKey</key>
		<string>dispensing</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>clock_support</key>
	<dict>
		<key>displayName</key>
		<string>Support</string>
		<key>osmKey</key>
		<string>support</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Pole</key>
			<string>pole</string>
			<key>Wall Mounted</key>
			<string>wall_mounted</string>
			<key>Tree</key>
			<string>tree</string>
			<key>Billboard</key>
			<string>billboard</string>
			<key>Ground</key>
			<string>ground</string>
		</dict>
	</dict>
	<key>clock_display</key>
	<dict>
		<key>displayName</key>
		<string>Display</string>
		<key>osmKey</key>
		<string>display</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Analog</key>
			<string>analog</string>
			<key>Digital</key>
			<string>digital</string>
			<key>Sundial</key>
			<string>sundial</string>
			<key>Unorthodox</key>
			<string>unorthodox</string>
		</dict>
	</dict>
	<key>clock_date</key>
	<dict>
		<key>displayName</key>
		<string>Date</string>
		<key>osmKey</key>
		<string>date</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>clock_thermometer</key>
	<dict>
		<key>displayName</key>
		<string>Thrermometer</string>
		<key>osmKey</key>
		<string>thermometer</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>clock_barometer</key>
	<dict>
		<key>displayName</key>
		<string>Barometer</string>
		<key>osmKey</key>
		<string>barometer</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>clock_hygrometer</key>
	<dict>
		<key>displayName</key>
		<string>Humidity</string>
		<key>osmKey</key>
		<string>hygrometer</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Yes</key>
			<string>yes</string>
			<key>No</key>
			<string>no</string>
		</dict>
	</dict>
	<key>clock_faces</key>
	<dict>
		<key>displayName</key>
		<string>Faces</string>
		<key>osmKey</key>
		<string>faces</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<string>number</string>
	</dict>
	<key>denomination:christian</key>
	<dict>
		<key>displayName</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Alliance</key>
			<string>alliance</string>
			<key>Anglican</key>
			<string>anglican</string>
			<key>Assemblies of God</key>
			<string>assemblies_of_god</string>
			<key>Roman Catholic</key>
			<string>roman_catholic</string>
			<key>Greek Catholic</key>
			<string>greek_catholic</string>
			<key>Baptist</key>
			<string>baptist</string>
			<key>Lutheran</key>
			<string>lutheran</string>
			<key>Methodist</key>
			<string>methodist</string>
			<key>Pentecostal</key>
			<string>pentecostal</string>
			<key>Mormon</key>
			<string>mormon</string>
			<key>Quaker</key>
			<string>quaker</string>
			<key>Presbyterian</key>
			<string>presbyterian</string>
			<key>Russian Orthodox</key>
			<string>russian_orthodox</string>
			<key>United Church of Christ</key>
			<string>united_church_of_christ</string>
			<key>Christian Scientist</key>
			<string>christ_scientist</string>
			<key>Mennonite</key>
			<string>mennonite</string>
			<key>Evangelical</key>
			<string>evangelical</string>
			<key>Jehovahs Witness</key>
			<string>jehovahs_witness</string>
			<key>Seventh Day Adventist</key>
			<string>seventh_day_adventist</string>
			<key>Moravian</key>
			<string>moravian</string>
		</dict>
	</dict>
	<key>denomination:jewish</key>
	<dict>
		<key>displayName</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Hasidic</key>
			<string>Hasidic</string>
			<key>Alternative</key>
			<string>alternative</string>
			<key>Conservative</key>
			<string>conservative</string>
			<key>humanistic</key>
			<string>Humanistic</string>
			<key>Karaite</key>
			<string>karaite</string>
			<key>Liberal</key>
			<string>liberal</string>
			<key>Modern Orthodox</key>
			<string>modern_orthodox</string>
			<key>Methodist</key>
			<string>methodist</string>
			<key>Orthodox</key>
			<string>orthodox</string>
			<key>Neo Orthodox</key>
			<string>neo_orthodox</string>
			<key>Nondenominational</key>
			<string>nondenominational</string>
			<key>Progressive</key>
			<string>progressive</string>
			<key>Reconstructionist</key>
			<string>reconstructionist</string>
			<key>Reform</key>
			<string>reform</string>
			<key>Renewal</key>
			<string>renewal</string>
			<key>Samaritan</key>
			<string>samaritan</string>
			<key>Ultra Orthodox</key>
			<string>ultra_orthodox</string>
			<key>Jehovahs Witness</key>
			<string>jehovahs_witness</string>
		</dict>
	</dict>
	<key>denomination:muslim</key>
	<dict>
		<key>displayName</key>
		<string>Denomination</string>
		<key>osmKey</key>
		<string>denomination</string>
		<key>section</key>
		<string>Other</string>
		<key>values</key>
		<dict>
			<key>Ahmadiya</key>
			<string>ahmadiya</string>
			<key>Alaouite</key>
			<string>alaouite</string>
			<key>Druze</key>
			<string>druze</string>
			<key>Ismaili</key>
			<string>ismaili</string>
			<key>Nondenominational</key>
			<string>nondenominational</string>
			<key>Shia</key>
			<string>shia</string>
			<key>Sunni</key>
			<string>sunni</string>
			<key>Ibadi</key>
			<string>ibadi</string>
		</dict>
	</dict>
	<key>addr:housenumber</key>
	<dict>
		<key>displayName</key>
		<string>Number</string>
		<key>osmKey</key>
		<string>addr:housenumber</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>1</integer>
	</dict>
	<key>addr:street</key>
	<dict>
		<key>displayName</key>
		<string>Street</string>
		<key>osmKey</key>
		<string>addr:street</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>2</integer>
	</dict>
	<key>addr:postcode</key>
	<dict>
		<key>displayName</key>
		<string>Post Code</string>
		<key>osmKey</key>
		<string>addr:postcode</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>6</integer>
	</dict>
	<key>addr:city</key>
	<dict>
		<key>displayName</key>
		<string>City</string>
		<key>osmKey</key>
		<string>addr:city</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>3</integer>
	</dict>
	<key>addr:state</key>
	<dict>
		<key>displayName</key>
		<string>State</string>
		<key>osmKey</key>
		<string>addr:state</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>4</integer>
	</dict>
	<key>addr:province</key>
	<dict>
		<key>displayName</key>
		<string>Province</string>
		<key>osmKey</key>
		<string>addr:province</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>5</integer>
	</dict>
	<key>addr:country</key>
	<dict>
		<key>displayName</key>
		<string>Country</string>
		<key>osmKey</key>
		<string>addr:country</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>label</string>
		<key>sectionSortOrder</key>
		<integer>7</integer>
	</dict>
	<key>website</key>
	<dict>
		<key>displayName</key>
		<string>Website</string>
		<key>osmKey</key>
		<string>website</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>url</string>
		<key>sectionSortOrder</key>
		<integer>8</integer>
	</dict>
	<key>phone</key>
	<dict>
		<key>displayName</key>
		<string>Phone #</string>
		<key>osmKey</key>
		<string>phone</string>
		<key>section</key>
		<string>Address</string>
		<key>values</key>
		<string>phone</string>
		<key>sectionSortOrder</key>
		<integer>9</integer>
	</dict>
</dict>
</plist>
